<h1> Edit A Book</h1>
<%= form_with(model: @book, local:true) do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>
<p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
</p>
<p>
    <!--<%= form.label :isbn %><br>-->
    <label>ISBN</label><br>
    <%= form.text_field :isbn %>
</p>
<p>
    <%= form.label :copies %><br>
    <%= form.text_field :copies %>
</p>

<p> <%= form.submit %>
</p>

<%end%>

<%if @book.errors.any? %>
<div id='error_explaination'>
    <h2>
    There seems to be incorrect inputs!
    Read the following error msg carefully!
    </h2>
    <ul>
        <% @book.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <%end%>
    </ul>
</div>
<%end%>
<button> <%= link_to "Back to admin page", administrator_index_path %> </button>