<h1> Edit A Book</h1>
<%= form_with(model: @book, local:true) do |form| %>
<p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
</p>
<p>
    <%= form.label :author %><br>
    <%= form.text_field :author %>
</p>
<p>
    <!--<%= form.label :isbn %><br>-->
    <label>ISBN</label><br>
    <%= form.text_field :isbn %>
</p>
<p>
    <%= form.label :copies %><br>
    <%= form.text_field :copies %>
</p>
<p hidden><%= form.hidden_field :as_id, value: params[:as_id] %></p>
<p> <%= form.submit %>
</p>

<%end%>
<p><%= notice %></p>
<p> <%= link_to "Back", admin_search_path(:action=>"show", :controller=>"admin_searches", id: params[:as_id]) %> </p>